<ul>
    <li *ngFor="let hobbit of lista">
        {{hobbit}}
    </li>
</ul>

<form>
    <p>
        <input type="text" name="gHobbit" [(ngModel)]="gHobbit" placeholder="Mete un hobbit">
        <button (click)="anade()">Añadir hobbit</button>
    </p>
</form>

<table *ngIf="lista.length > 0">
    <thead>
        <tr>
            <th>Nombre del hobbit</th>
            <th>Acción</th>
        </tr>
    </thead>
    <tbody>
    <!-- Para el índice: "index as i" o también: "let i = "-->
     <tr *ngFor = "let hobbit of lista; index as i">
        <td>{{hobbit}}</td>
        <td>
            <button (click)="editar(hobbit,i)">Editar</button>
            <button (click)="eliminar(hobbit, i)">Eliminar</button>        </td>
     </tr>
    </tbody>
</table>