<h2>Consulta de facturas</h2>
<table class="table" border="1">
    <tr>
        <th>ID</th>
        <th>NUMERO</th>
        <th>Cliente</th>
        <th>FECHA</th>
    </tr>

    <tbody id="filas_tabla">
        @for (factura of listaFacturas; track $index) {
        <tr>
            <td>{{factura.id}}</td>
            <td><a routerLink="/detalle/{{factura.id}}/{{factura.numero}}">{{factura.numero}}</a></td>
            <td>{{factura.id_cliente}}</td>
            <td>{{factura.fecha}}</td>
        </tr>
        }
    </tbody>
</table>